# Unversioned folder
.idea/

__pycache__/
venv/Include/
venv/Lib/site-packages/PIL/__pycache__/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/certifi/__pycache__/
venv/Lib/site-packages/chardet/__pycache__/
venv/Lib/site-packages/chardet/cli/__pycache__/
venv/Lib/site-packages/cv2/__pycache__/
venv/Lib/site-packages/cv2/data/__pycache__/
venv/Lib/site-packages/dask/__pycache__/
venv/Lib/site-packages/dask/array/__pycache__/
venv/Lib/site-packages/dask/array/tests/__pycache__/
venv/Lib/site-packages/dask/bag/__pycache__/
venv/Lib/site-packages/dask/bag/tests/__pycache__/
venv/Lib/site-packages/dask/bytes/__pycache__/
venv/Lib/site-packages/dask/bytes/tests/__pycache__/
venv/Lib/site-packages/dask/dataframe/__pycache__/
venv/Lib/site-packages/dask/dataframe/io/__pycache__/
venv/Lib/site-packages/dask/dataframe/io/parquet/__pycache__/
venv/Lib/site-packages/dask/dataframe/io/tests/__pycache__/
venv/Lib/site-packages/dask/dataframe/tests/__pycache__/
venv/Lib/site-packages/dask/dataframe/tseries/__pycache__/
venv/Lib/site-packages/dask/dataframe/tseries/tests/__pycache__/
venv/Lib/site-packages/dask/diagnostics/__pycache__/
venv/Lib/site-packages/dask/diagnostics/tests/__pycache__/
venv/Lib/site-packages/dask/tests/__pycache__/
venv/Lib/site-packages/dateutil/__pycache__/
venv/Lib/site-packages/dateutil/parser/__pycache__/
venv/Lib/site-packages/dateutil/tz/__pycache__/
venv/Lib/site-packages/dateutil/zoneinfo/__pycache__/
venv/Lib/site-packages/idna/__pycache__/
venv/Lib/site-packages/imagecodecs/__pycache__/
venv/Lib/site-packages/imageio/__pycache__/
venv/Lib/site-packages/imageio/core/__pycache__/
venv/Lib/site-packages/imageio/plugins/__pycache__/
venv/Lib/site-packages/joblib/__pycache__/
venv/Lib/site-packages/joblib/externals/__pycache__/
venv/Lib/site-packages/joblib/externals/cloudpickle/__pycache__/
venv/Lib/site-packages/joblib/externals/loky/__pycache__/
venv/Lib/site-packages/joblib/externals/loky/backend/__pycache__/
venv/Lib/site-packages/joblib/test/__pycache__/
venv/Lib/site-packages/joblib/test/data/__pycache__/
venv/Lib/site-packages/matplotlib/__pycache__/
venv/Lib/site-packages/matplotlib/axes/__pycache__/
venv/Lib/site-packages/matplotlib/backends/__pycache__/
venv/Lib/site-packages/matplotlib/backends/qt_editor/__pycache__/
venv/Lib/site-packages/matplotlib/cbook/__pycache__/
venv/Lib/site-packages/matplotlib/compat/__pycache__/
venv/Lib/site-packages/matplotlib/projections/__pycache__/
venv/Lib/site-packages/matplotlib/sphinxext/__pycache__/
venv/Lib/site-packages/matplotlib/style/__pycache__/
venv/Lib/site-packages/matplotlib/testing/__pycache__/
venv/Lib/site-packages/matplotlib/testing/jpl_units/__pycache__/
venv/Lib/site-packages/matplotlib/tests/__pycache__/
venv/Lib/site-packages/matplotlib/tri/__pycache__/
venv/Lib/site-packages/mpl_toolkits/axes_grid/__pycache__/
venv/Lib/site-packages/mpl_toolkits/axes_grid1/__pycache__/
venv/Lib/site-packages/mpl_toolkits/axisartist/__pycache__/
venv/Lib/site-packages/mpl_toolkits/mplot3d/__pycache__/
venv/Lib/site-packages/mpl_toolkits/tests/__pycache__/
venv/Lib/site-packages/networkx/__pycache__/
venv/Lib/site-packages/networkx/algorithms/__pycache__/
venv/Lib/site-packages/networkx/algorithms/approximation/__pycache__/
venv/Lib/site-packages/networkx/al
gorithms/approximation/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/assortativity/__pycache__/
venv/Lib/site-packages/networkx/algorithms/assortativity/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/bipartite/__pycache__/
venv/Lib/site-packages/networkx/algorithms/bipartite/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/centrality/__pycache__/
venv/Lib/site-packages/networkx/algorithms/centrality/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/coloring/__pycache__/
venv/Lib/site-packages/networkx/algorithms/coloring/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/community/__pycache__/
venv/Lib/site-packages/networkx/algorithms/community/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/components/__pycache__/
venv/Lib/site-packages/networkx/algorithms/components/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/connectivity/__pycache__/
venv/Lib/site-packages/networkx/algorithms/connectivity/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/flow/__pycache__/
venv/Lib/site-packages/networkx/algorithms/flow/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/isomorphism/__pycache__/
venv/Lib/site-packages/networkx/algorithms/isomorphism/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/link_analysis/__pycache__/
venv/Lib/site-packages/networkx/algorithms/link_analysis/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/node_classification/__pycache__/
venv/Lib/site-packages/networkx/algorithms/node_classification/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/operators/__pycache__/
venv/Lib/site-packages/networkx/algorithms/operators/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/shortest_paths/__pycache__/
venv/Lib/site-packages/networkx/algorithms/shortest_paths/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/traversal/__pycache__/
venv/Lib/site-packages/networkx/algorithms/traversal/tests/__pycache__/
venv/Lib/site-packages/networkx/algorithms/tree/__pycache__/
venv/Lib/site-packages/networkx/algorithms/tree/tests/__pycache__/
venv/Lib/site-packages/networkx/classes/__pycache__/
venv/Lib/site-packages/networkx/classes/tests/__pycache__/
venv/Lib/site-packages/networkx/drawing/__pycache__/
venv/Lib/site-packages/networkx/drawing/tests/__pycache__/
venv/Lib/site-packages/networkx/generators/__pycache__/
venv/Lib/site-packages/networkx/generators/tests/__pycache__/
venv/Lib/site-packages/networkx/linalg/__pycache__/
venv/Lib/site-packages/networkx/linalg/tests/__pycache__/
venv/Lib/site-packages/networkx/readwrite/__pycache__/
venv/Lib/site-packages/networkx/readwrite/json_graph/__pycache__/
venv/Lib/site-packages/networkx/readwrite/json_graph/tests/__pycache__/
venv/Lib/site-packages/networkx/readwrite/tests/__pycache__/
venv/Lib/site-packages/networkx/testing/__pycache__/
venv/Lib/site-packages/networkx/testing/tests/__pycache__/
venv/Lib/site-packages/networkx/tests/__pycache__/
venv/Lib/site-packages/networkx/utils/__pycache__/
venv/Lib/site-packages/networkx/utils/tests/__pycache__/
venv/Lib/site-packages/numpy/__pycache__/
venv/Lib/site-packages/numpy/compat/__pycache__/
venv/Lib/site-packages/numpy/compat/tests/__pycache__/
venv/Lib/site-packages/numpy/core/__pycache__/
venv/Lib/site-packages/nu
mpy/core/tests/__pycache__/
venv/Lib/site-packages/numpy/distutils/__pycache__/
venv/Lib/site-packages/numpy/distutils/command/__pycache__/
venv/Lib/site-packages/numpy/distutils/fcompiler/__pycache__/
venv/Lib/site-packages/numpy/distutils/tests/__pycache__/
venv/Lib/site-packages/numpy/doc/__pycache__/
venv/Lib/site-packages/numpy/f2py/__pycache__/
venv/Lib/site-packages/numpy/f2py/tests/__pycache__/
venv/Lib/site-packages/numpy/fft/__pycache__/
venv/Lib/site-packages/numpy/fft/tests/__pycache__/
venv/Lib/site-packages/numpy/lib/__pycache__/
venv/Lib/site-packages/numpy/lib/tests/__pycache__/
venv/Lib/site-packages/numpy/linalg/__pycache__/
venv/Lib/site-packages/numpy/linalg/tests/__pycache__/
venv/Lib/site-packages/numpy/ma/__pycache__/
venv/Lib/site-packages/numpy/ma/tests/__pycache__/
venv/Lib/site-packages/numpy/matrixlib/__pycache__/
venv/Lib/site-packages/numpy/matrixlib/tests/__pycache__/
venv/Lib/site-packages/numpy/polynomial/__pycache__/
venv/Lib/site-packages/numpy/polynomial/tests/__pycache__/
venv/Lib/site-packages/numpy/random/__pycache__/
venv/Lib/site-packages/numpy/random/_examples/cffi/__pycache__/
venv/Lib/site-packages/numpy/random/_examples/cython/__pycache__/
venv/Lib/site-packages/numpy/random/_examples/numba/__pycache__/
venv/Lib/site-packages/numpy/random/tests/__pycache__/
venv/Lib/site-packages/numpy/random/tests/data/__pycache__/
venv/Lib/site-packages/numpy/testing/__pycache__/
venv/Lib/site-packages/numpy/testing/_private/__pycache__/
venv/Lib/site-packages/numpy/testing/tests/__pycache__/
venv/Lib/site-packages/numpy/tests/__pycache__/
venv/Lib/site-packages/packaging/__pycache__/
venv/Lib/site-packages/pandas/__pycache__/
venv/Lib/site-packages/pandas/_config/__pycache__/
venv/Lib/site-packages/pandas/_libs/__pycache__/
venv/Lib/site-packages/pandas/_libs/tslibs/__pycache__/
venv/Lib/site-packages/pandas/_libs/window/__pycache__/
venv/Lib/site-packages/pandas/api/__pycache__/
venv/Lib/site-packages/pandas/api/extensions/__pycache__/
venv/Lib/site-packages/pandas/api/indexers/__pycache__/
venv/Lib/site-packages/pandas/api/types/__pycache__/
venv/Lib/site-packages/pandas/arrays/__pycache__/
venv/Lib/site-packages/pandas/compat/__pycache__/
venv/Lib/site-packages/pandas/compat/numpy/__pycache__/
venv/Lib/site-packages/pandas/core/__pycache__/
venv/Lib/site-packages/pandas/core/arrays/__pycache__/
venv/Lib/site-packages/pandas/core/arrays/sparse/__pycache__/
venv/Lib/site-packages/pandas/core/computation/__pycache__/
venv/Lib/site-packages/pandas/core/dtypes/__pycache__/
venv/Lib/site-packages/pandas/core/groupby/__pycache__/
venv/Lib/site-packages/pandas/core/indexes/__pycache__/
venv/Lib/site-packages/pandas/core/internals/__pycache__/
venv/Lib/site-packages/pandas/core/ops/__pycache__/
venv/Lib/site-packages/pandas/core/reshape/__pycache__/
venv/Lib/site-packages/pandas/core/sparse/__pycache__/
venv/Lib/site-packages/pandas/core/tools/__pycache__/
venv/Lib/site-packages/pandas/core/util/__pycache__/
venv/Lib/site-packages/pandas/core/window/__pycache__/
venv/Lib/site-packages/pandas/errors/__pycache__/
venv/Lib/site-packages/pandas/io/__pycache__/
venv/Lib/site-packages/pandas/io/clipboard/__pycache__/
venv/Lib/site-packages/pandas/io/excel/__pycache__/
venv/Lib/site-packages/pandas/io/formats/__pycache__/
Wou
ld remove venv/Lib/site-packages/pandas/io/json/__pycache__/
venv/Lib/site-packages/pandas/io/sas/__pycache__/
venv/Lib/site-packages/pandas/plotting/__pycache__/
venv/Lib/site-packages/pandas/plotting/_matplotlib/__pycache__/
venv/Lib/site-packages/pandas/tests/__pycache__/
venv/Lib/site-packages/pandas/tests/api/__pycache__/
venv/Lib/site-packages/pandas/tests/arithmetic/__pycache__/
venv/Lib/site-packages/pandas/tests/arrays/__pycache__/
venv/Lib/site-packages/pandas/tests/arrays/categorical/__pycache__/
venv/Lib/site-packages/pandas/tests/arrays/interval/__pycache__/
venv/Lib/site-packages/pandas/tests/arrays/sparse/__pycache__/
venv/Lib/site-packages/pandas/tests/arrays/string_/__pycache__/
venv/Lib/site-packages/pandas/tests/base/__pycache__/
venv/Lib/site-packages/pandas/tests/computation/__pycache__/
venv/Lib/site-packages/pandas/tests/config/__pycache__/
venv/Lib/site-packages/pandas/tests/dtypes/__pycache__/
venv/Lib/site-packages/pandas/tests/dtypes/cast/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/arrow/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/base/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/decimal/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/json/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/list/__pycache__/
venv/Lib/site-packages/pandas/tests/frame/__pycache__/
venv/Lib/site-packages/pandas/tests/frame/methods/__pycache__/
venv/Lib/site-packages/pandas/tests/generic/__pycache__/
venv/Lib/site-packages/pandas/tests/groupby/__pycache__/
venv/Lib/site-packages/pandas/tests/groupby/aggregate/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/categorical/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/datetimes/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/interval/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/multi/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/period/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/ranges/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/timedeltas/__pycache__/
venv/Lib/site-packages/pandas/tests/indexing/__pycache__/
venv/Lib/site-packages/pandas/tests/indexing/interval/__pycache__/
venv/Lib/site-packages/pandas/tests/indexing/multiindex/__pycache__/
venv/Lib/site-packages/pandas/tests/internals/__pycache__/
venv/Lib/site-packages/pandas/tests/io/__pycache__/
venv/Lib/site-packages/pandas/tests/io/excel/__pycache__/
venv/Lib/site-packages/pandas/tests/io/formats/__pycache__/
venv/Lib/site-packages/pandas/tests/io/json/__pycache__/
venv/Lib/site-packages/pandas/tests/io/parser/__pycache__/
venv/Lib/site-packages/pandas/tests/io/pytables/__pycache__/
venv/Lib/site-packages/pandas/tests/io/sas/__pycache__/
venv/Lib/site-packages/pandas/tests/plotting/__pycache__/
venv/Lib/site-packages/pandas/tests/reductions/__pycache__/
venv/Lib/site-packages/pandas/tests/resample/__pycache__/
venv/Lib/site-packages/pandas/tests/reshape/__pycache__/
venv/Lib/site-packages/pandas/tests/reshape/merge/__pycache__/
venv/Lib/site-packages/pandas/tests/scalar/__pycache__/
venv/Lib/site-packages/pandas/tests/scalar/interval/__pycache__/
venv/Lib/site-packages/pandas/tests/scalar/period/__pycache__/
venv/Lib/site-packages/pandas/tests/scalar/timedelta
/__pycache__/
venv/Lib/site-packages/pandas/tests/scalar/timestamp/__pycache__/
venv/Lib/site-packages/pandas/tests/series/__pycache__/
venv/Lib/site-packages/pandas/tests/series/indexing/__pycache__/
venv/Lib/site-packages/pandas/tests/series/methods/__pycache__/
venv/Lib/site-packages/pandas/tests/tools/__pycache__/
venv/Lib/site-packages/pandas/tests/tseries/__pycache__/
venv/Lib/site-packages/pandas/tests/tseries/frequencies/__pycache__/
venv/Lib/site-packages/pandas/tests/tseries/holiday/__pycache__/
venv/Lib/site-packages/pandas/tests/tseries/offsets/__pycache__/
venv/Lib/site-packages/pandas/tests/tslibs/__pycache__/
venv/Lib/site-packages/pandas/tests/util/__pycache__/
venv/Lib/site-packages/pandas/tests/window/__pycache__/
venv/Lib/site-packages/pandas/tseries/__pycache__/
venv/Lib/site-packages/pandas/util/__pycache__/
venv/Lib/site-packages/pip/__pycache__/
venv/Lib/site-packages/pip/_internal/__pycache__/
venv/Lib/site-packages/pip/_internal/cli/__pycache__/
venv/Lib/site-packages/pip/_internal/commands/__pycache__/
venv/Lib/site-packages/pip/_internal/distributions/__pycache__/
venv/Lib/site-packages/pip/_internal/index/__pycache__/
venv/Lib/site-packages/pip/_internal/models/__pycache__/
venv/Lib/site-packages/pip/_internal/network/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/
venv/Lib/site-packages/pip/_internal/req/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/legacy/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/
venv/Lib/site-packages/pip/_internal/utils/__pycache__/
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/
venv/Lib/site-packages/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/cli/__pycache__/
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/_backport/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/filters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treeadapters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/pip/_vendor/idna/__pycache__/
venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip/_vendor/pep517/__pycache__/
venv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip/_vendor/progress/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip/_vendor/resolvelib/__pycache__/
venv/Lib/site-packages/pip/_vendor/toml/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/
venv/Lib/site-packages/pip
/_vendor/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/
venv/Lib/site-packages/pip/_vendor/webencodings/__pycache__/
venv/Lib/site-packages/pkg_resources/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pkg_resources/extern/__pycache__/
venv/Lib/site-packages/pooch/__pycache__/
venv/Lib/site-packages/pooch/tests/__pycache__/
venv/Lib/site-packages/pytz/__pycache__/
venv/Lib/site-packages/pywt/__pycache__/
venv/Lib/site-packages/pywt/_extensions/__pycache__/
venv/Lib/site-packages/pywt/data/__pycache__/
venv/Lib/site-packages/pywt/tests/__pycache__/
venv/Lib/site-packages/pywt/tests/data/__pycache__/
venv/Lib/site-packages/requests/__pycache__/
venv/Lib/site-packages/scipy/__pycache__/
venv/Lib/site-packages/scipy/_build_utils/__pycache__/
venv/Lib/site-packages/scipy/_build_utils/tests/__pycache__/
venv/Lib/site-packages/scipy/_lib/__pycache__/
venv/Lib/site-packages/scipy/_lib/_uarray/__pycache__/
venv/Lib/site-packages/scipy/_lib/tests/__pycache__/
venv/Lib/site-packages/scipy/cluster/__pycache__/
venv/Lib/site-packages/scipy/cluster/tests/__pycache__/
venv/Lib/site-packages/scipy/constants/__pycache__/
venv/Lib/site-packages/scipy/constants/tests/__pycache__/
venv/Lib/site-packages/scipy/fft/__pycache__/
venv/Lib/site-packages/scipy/fft/_pocketfft/__pycache__/
venv/Lib/site-packages/scipy/fft/_pocketfft/tests/__pycache__/
venv/Lib/site-packages/scipy/fft/tests/__pycache__/
venv/Lib/site-packages/scipy/fftpack/__pycache__/
venv/Lib/site-packages/scipy/fftpack/tests/__pycache__/
venv/Lib/site-packages/scipy/integrate/__pycache__/
venv/Lib/site-packages/scipy/integrate/_ivp/__pycache__/
venv/Lib/site-packages/scipy/integrate/tests/__pycache__/
venv/Lib/site-packages/scipy/interpolate/__pycache__/
venv/Lib/site-packages/scipy/interpolate/tests/__pycache__/
venv/Lib/site-packages/scipy/io/__pycache__/
venv/Lib/site-packages/scipy/io/arff/__pycache__/
venv/Lib/site-packages/scipy/io/arff/tests/__pycache__/
venv/Lib/site-packages/scipy/io/harwell_boeing/__pycache__/
venv/Lib/site-packages/scipy/io/harwell_boeing/tests/__pycache__/
venv/Lib/site-packages/scipy/io/matlab/__pycache__/
venv/Lib/site-packages/scipy/io/matlab/tests/__pycache__/
venv/Lib/site-packages/scipy/io/tests/__pycache__/
venv/Lib/site-packages/scipy/linalg/__pycache__/
venv/Lib/site-packages/scipy/linalg/tests/__pycache__/
venv/Lib/site-packages/scipy/misc/__pycache__/
venv/Lib/site-packages/scipy/misc/tests/__pycache__/
venv/Lib/site-packages/scipy/ndimage/__pycache__/
venv/Lib/site-packages/scipy/ndimage/tests/__pycache__/
venv/Lib/site-packages/scipy/odr/__pycache__/
venv/Lib/site-packages/scipy/odr/tests/__pycache__/
venv/Lib/site-packages/scipy/optimize/__pycache__/
venv/Lib/site-packages/scipy/optimize/_lsq/__pycache__/
venv/Lib/site-packages/scipy/optimize/_shgo_lib/__pycache__/
venv/Lib/site-packages/scipy/optimize/_trlib/__pycache_
_/
venv/Lib/site-packages/scipy/optimize/_trustregion_constr/__pycache__/
venv/Lib/site-packages/scipy/optimize/_trustregion_constr/tests/__pycache__/
venv/Lib/site-packages/scipy/optimize/cython_optimize/__pycache__/
venv/Lib/site-packages/scipy/optimize/tests/__pycache__/
venv/Lib/site-packages/scipy/signal/__pycache__/
venv/Lib/site-packages/scipy/signal/tests/__pycache__/
venv/Lib/site-packages/scipy/signal/windows/__pycache__/
venv/Lib/site-packages/scipy/sparse/__pycache__/
venv/Lib/site-packages/scipy/sparse/csgraph/__pycache__/
venv/Lib/site-packages/scipy/sparse/csgraph/tests/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/dsolve/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/dsolve/tests/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/eigen/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/eigen/arpack/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/eigen/arpack/tests/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/eigen/lobpcg/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/eigen/lobpcg/tests/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/isolve/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/isolve/tests/__pycache__/
venv/Lib/site-packages/scipy/sparse/linalg/tests/__pycache__/
venv/Lib/site-packages/scipy/sparse/tests/__pycache__/
venv/Lib/site-packages/scipy/spatial/__pycache__/
venv/Lib/site-packages/scipy/spatial/tests/__pycache__/
venv/Lib/site-packages/scipy/spatial/transform/__pycache__/
venv/Lib/site-packages/scipy/spatial/transform/tests/__pycache__/
venv/Lib/site-packages/scipy/special/__pycache__/
venv/Lib/site-packages/scipy/special/_precompute/__pycache__/
venv/Lib/site-packages/scipy/special/tests/__pycache__/
venv/Lib/site-packages/scipy/stats/__pycache__/
venv/Lib/site-packages/scipy/stats/tests/__pycache__/
venv/Lib/site-packages/setuptools/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/
venv/Lib/site-packages/setuptools/command/__pycache__/
venv/Lib/site-packages/setuptools/extern/__pycache__/
venv/Lib/site-packages/skimage/__pycache__/
venv/Lib/site-packages/skimage/_shared/__pycache__/
venv/Lib/site-packages/skimage/_shared/tests/__pycache__/
venv/Lib/site-packages/skimage/color/__pycache__/
venv/Lib/site-packages/skimage/color/tests/__pycache__/
venv/Lib/site-packages/skimage/data/__pycache__/
venv/Lib/site-packages/skimage/data/tests/__pycache__/
venv/Lib/site-packages/skimage/draw/__pycache__/
venv/Lib/site-packages/skimage/draw/tests/__pycache__/
venv/Lib/site-packages/skimage/exposure/__pycache__/
venv/Lib/site-packages/skimage/exposure/tests/__pycache__/
venv/Lib/site-packages/skimage/feature/__pycache__/
venv/Lib/site-packages/skimage/feature/tests/__pycache__/
venv/Lib/site-packages/skimage/filters/__pycache__/
venv/Lib/site-packages/skimage/filters/rank/__pycache__/
venv/Lib/site-packages/skimage/filters/rank/tests/__pycache__/
venv/Lib/site-packages/skimage/filters/tests/__pycache__/
venv/Lib/site-packages/skimage/future/__pycache__/
venv/Lib/site-packages/skimage/future/graph/__pycache__/
venv/Lib/site-packages/skimage/graph/__pycache__/
venv/Lib/site-packages/skimage/graph/tests/__pycache__/
venv/Lib/site-packages/skimage/io/__py
cache__/
venv/Lib/site-packages/skimage/io/_plugins/__pycache__/
venv/Lib/site-packages/skimage/io/tests/__pycache__/
venv/Lib/site-packages/skimage/measure/__pycache__/
venv/Lib/site-packages/skimage/measure/tests/__pycache__/
venv/Lib/site-packages/skimage/metrics/__pycache__/
venv/Lib/site-packages/skimage/morphology/__pycache__/
venv/Lib/site-packages/skimage/morphology/tests/__pycache__/
venv/Lib/site-packages/skimage/registration/__pycache__/
venv/Lib/site-packages/skimage/restoration/__pycache__/
venv/Lib/site-packages/skimage/restoration/tests/__pycache__/
venv/Lib/site-packages/skimage/scripts/__pycache__/
venv/Lib/site-packages/skimage/segmentation/__pycache__/
venv/Lib/site-packages/skimage/segmentation/tests/__pycache__/
venv/Lib/site-packages/skimage/transform/__pycache__/
venv/Lib/site-packages/skimage/transform/tests/__pycache__/
venv/Lib/site-packages/skimage/util/__pycache__/
venv/Lib/site-packages/skimage/util/tests/__pycache__/
venv/Lib/site-packages/skimage/viewer/__pycache__/
venv/Lib/site-packages/skimage/viewer/canvastools/__pycache__/
venv/Lib/site-packages/skimage/viewer/plugins/__pycache__/
venv/Lib/site-packages/skimage/viewer/tests/__pycache__/
venv/Lib/site-packages/skimage/viewer/utils/__pycache__/
venv/Lib/site-packages/skimage/viewer/viewers/__pycache__/
venv/Lib/site-packages/skimage/viewer/widgets/__pycache__/
venv/Lib/site-packages/sklearn/__check_build/__pycache__/
venv/Lib/site-packages/sklearn/__pycache__/
venv/Lib/site-packages/sklearn/_build_utils/__pycache__/
venv/Lib/site-packages/sklearn/cluster/__pycache__/
venv/Lib/site-packages/sklearn/cluster/tests/__pycache__/
venv/Lib/site-packages/sklearn/compose/__pycache__/
venv/Lib/site-packages/sklearn/compose/tests/__pycache__/
venv/Lib/site-packages/sklearn/covariance/__pycache__/
venv/Lib/site-packages/sklearn/covariance/tests/__pycache__/
venv/Lib/site-packages/sklearn/cross_decomposition/__pycache__/
venv/Lib/site-packages/sklearn/cross_decomposition/tests/__pycache__/
venv/Lib/site-packages/sklearn/datasets/__pycache__/
venv/Lib/site-packages/sklearn/datasets/tests/__pycache__/
venv/Lib/site-packages/sklearn/decomposition/__pycache__/
venv/Lib/site-packages/sklearn/decomposition/tests/__pycache__/
venv/Lib/site-packages/sklearn/ensemble/__pycache__/
venv/Lib/site-packages/sklearn/ensemble/_hist_gradient_boosting/__pycache__/
venv/Lib/site-packages/sklearn/ensemble/_hist_gradient_boosting/tests/__pycache__/
venv/Lib/site-packages/sklearn/ensemble/tests/__pycache__/
venv/Lib/site-packages/sklearn/experimental/__pycache__/
venv/Lib/site-packages/sklearn/experimental/tests/__pycache__/
venv/Lib/site-packages/sklearn/externals/__pycache__/
venv/Lib/site-packages/sklearn/externals/joblib/__pycache__/
venv/Lib/site-packages/sklearn/feature_extraction/__pycache__/
venv/Lib/site-packages/sklearn/feature_extraction/tests/__pycache__/
venv/Lib/site-packages/sklearn/feature_selection/__pycache__/
venv/Lib/site-packages/sklearn/feature_selection/tests/__pycache__/
venv/Lib/site-packages/sklearn/gaussian_process/__pycache__/
venv/Lib/site-packages/sklearn/gaussian_process/tests/__pycache__/
venv/Lib/site-packages/sklearn/impute/__pycache__/
venv/Lib/site-packages/sklearn/impute/tests/__pycache__/
venv/Lib/site-packages/sklearn/inspection/__pycache__/
venv/Lib/site-packages/sklearn/inspection/tests/__pycache__/
Would
remove venv/Lib/site-packages/sklearn/linear_model/__pycache__/
venv/Lib/site-packages/sklearn/linear_model/tests/__pycache__/
venv/Lib/site-packages/sklearn/manifold/__pycache__/
venv/Lib/site-packages/sklearn/manifold/tests/__pycache__/
venv/Lib/site-packages/sklearn/metrics/__pycache__/
venv/Lib/site-packages/sklearn/metrics/_plot/__pycache__/
venv/Lib/site-packages/sklearn/metrics/_plot/tests/__pycache__/
venv/Lib/site-packages/sklearn/metrics/cluster/__pycache__/
venv/Lib/site-packages/sklearn/metrics/cluster/tests/__pycache__/
venv/Lib/site-packages/sklearn/metrics/tests/__pycache__/
venv/Lib/site-packages/sklearn/mixture/__pycache__/
venv/Lib/site-packages/sklearn/mixture/tests/__pycache__/
venv/Lib/site-packages/sklearn/model_selection/__pycache__/
venv/Lib/site-packages/sklearn/model_selection/tests/__pycache__/
venv/Lib/site-packages/sklearn/neighbors/__pycache__/
venv/Lib/site-packages/sklearn/neighbors/tests/__pycache__/
venv/Lib/site-packages/sklearn/neural_network/__pycache__/
venv/Lib/site-packages/sklearn/neural_network/tests/__pycache__/
venv/Lib/site-packages/sklearn/preprocessing/__pycache__/
venv/Lib/site-packages/sklearn/preprocessing/tests/__pycache__/
venv/Lib/site-packages/sklearn/semi_supervised/__pycache__/
venv/Lib/site-packages/sklearn/semi_supervised/tests/__pycache__/
venv/Lib/site-packages/sklearn/svm/__pycache__/
venv/Lib/site-packages/sklearn/svm/tests/__pycache__/
venv/Lib/site-packages/sklearn/tests/__pycache__/
venv/Lib/site-packages/sklearn/tree/__pycache__/
venv/Lib/site-packages/sklearn/tree/tests/__pycache__/
venv/Lib/site-packages/sklearn/utils/__pycache__/
venv/Lib/site-packages/sklearn/utils/tests/__pycache__/
venv/Lib/site-packages/tifffile/__pycache__/
venv/Lib/site-packages/urllib3/__pycache__/
venv/Lib/site-packages/urllib3/contrib/__pycache__/
venv/Lib/site-packages/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/urllib3/packages/__pycache__/
venv/Lib/site-packages/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/urllib3/util/__pycache__/
venv/share/doc/networkx-2.4/examples/3d_drawing/__pycache__/
venv/share/doc/networkx-2.4/examples/advanced/__pycache__/
venv/share/doc/networkx-2.4/examples/algorithms/__pycache__/
venv/share/doc/networkx-2.4/examples/basic/__pycache__/
venv/share/doc/networkx-2.4/examples/drawing/__pycache__/
venv/share/doc/networkx-2.4/examples/graph/__pycache__/
venv/share/doc/networkx-2.4/examples/javascript/__pycache__/
venv/share/doc/networkx-2.4/examples/jit/__pycache__/
venv/share/doc/networkx-2.4/examples/pygraphviz/__pycache__/
venv/share/doc/networkx-2.4/examples/subclass/__pycache__/
